@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center shadow rounded-5">
    <h1 style="text-align: left;" class="display-4">Welcome to my hobby website! Here's some generic text.</h1>
    <div class="row">
        <div class="col-4">
            <img src="img/CassidyArch.jpeg"
                 alt="Preston standing at the top of Cassidy Arch Hike"
                 class="col-12 rounded-5 shadow"/>
        </div>
        <div class="col-8">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="img/PineCreekCanyonWalk.jpeg"
                 alt="Preston walking near a river in Pine Creek"
                 class="col-12 rounded-5 shadow"/>
        </div>
        <div class="col-4">
            <img src="img/WadingThroughCathedral.jpeg"
                 alt="Preston with his hands above his head in the Cathedral"
                 class="col-12 rounded-5 shadow"/>
        </div>
    </div>
</div>