@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding: 0px 40px;">
    <h1 style="text-align: left; padding: 5px 0px;" class="display-4"><span><img alt="" class="rounded-5" style="max-width: 50px;" src="img/customIcon.jpeg"/></span> Canyoneering</h1>
    <div class="row">
        <div class="col-md-6 col-lg-5">
            <img src="img/CassidyArch.jpeg"
                 alt="Preston standing at the top of Cassidy Arch Hike"
                 class="rounded-5 shadow img-fluid"
                 />
        </div>
        <div class="col-md-6 col-lg-7">
            <p style="text-align: left;">I've recently gotten into Canyoneering thanks to my roommate. This was my first canyon that I went on at Capital Reef. Canyoneering is both thrilling and terrifying. It forces you to confront a fear of heights (if you have one) and can be physically demanding. For this photo, I had hiked almost 2 miles with a 30 lbs back.</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6 col-lg-7">
            <p style="text-align: right;">Canyoneering involves repelling (and occasionally swimming) through a canyon. You'll often pack a wetsuit and dry clothes to avoid hypothermia from the water and hike out comfortably.</p>
        </div>
        <div class="col-6 col-lg-5">
            <img src="img/PineCreekCanyonWalk.jpeg"
                 alt="Preston walking near a river in Pine Creek"
                 class="rounded-5 shadow img-fluid"/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6 col-lg-5">
            <img src="img/WadingThroughCathedral.jpeg"
                 alt="Preston with his hands above his head in the Cathedral"
                 class="rounded-5 shadow img-fluid"/>
        </div>
        <div class="col-md-6 col-lg-7">
            <p style="text-align: left;">So far I've completed 3 canyons and I hope to complete more. The highest single rappel was at Cassidy Arch with the first rappel being about 140 ft. high.</p>
        </div>
    </div>
</div>